

<form action="cats_url" method="post"> 
  <label for="cat_name">Name</label>
  <input id="cat_name" type="text" name="@cat[:name]" value=" <%= @cat.name %>">

 <div>

  <p> Select a gender: </p>

  <div>

  <input type="radio" id="Male" name="@cat[:sex]" value="M">
  <label for="Male">Male</label>

  <div>
  <div>

  <input type="radio" id="Female" name="@cat[:sex]" value="F">
  <label for="Female">Female</label>

  <div>
  <br>

  <label for="color"> Select a color: </label>

  <select id="color" name="@cat[:color]">
    <option disabled selected>--Select a color--</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
    <% end %>
  </select>
  
  <div>
  <br>
  <label for="birthday">Select birthday:</label>
  <input type="date" id="birthday" name="@cat[:birth_date]" value="<%= Time.now %>" min="1950-01-01" max="<%= Time.now %>">
  
  <div>
  <br>
  <label for="description">Description of cat: </label>
  <div>
  <textarea name="@cat[:description]">
      <%= @cat.description %>
  </textarea>
  
  <div>
  <input type="submit" value="Create cat"
</form>